.card {
    display: grid;
    grid-template-areas:
        "card__logo card__left card__right";
    background-color: white;
    box-shadow: 0px 10px 20px var(--desaturated-dark-cyan-shadow);
    border-radius: .5rem;
    padding: 1rem 2rem;
    width: 100%;
}

.card__logo {
    width: 88px;
    height: 88px;
    place-self: center;
    margin-right: 1rem;
}



.card__titlebar {
    display: flex;
    gap: 1rem;
    place-items: center;
    font-weight: var(--fw-bold);
}

.card__position {
    font-size: 1.5rem;
}

.card__details {
    display: flex;
    color: var(--dark-grayish-cyan);
    gap: 1rem;
}

.card__position {
    color: var(--very-dark-grayish-cyan)
}

.card__right {
    display: flex;
    flex-direction: row-reverse;
    place-items: center;
    gap: 1rem;
}

.pill__new {
    background-color: var(--desaturated-dark-cyan);
    border: none;
    color: white;
    padding: .25em .75em 0em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1rem;
}

.pill__featured {
    background-color: var(--very-dark-grayish-cyan);
    border: none;
    color: white;
    padding: .25em .75em 0em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1rem;
}

.card__tag {
    background-color: var(--light-grayish-cyan-background);
    line-height: 1.5;
    padding: .25em .5em;
    cursor: pointer;
}

@media(max-width:600) {
    .card {
        display: grid;
        grid-template-areas:
            "card__logo"
            "card__left"
            "card__right";
        background-color: white;
        box-shadow: 0px 10px 20px var(--desaturated-dark-cyan-shadow);
        border-radius: .5rem;
        padding: 1rem 2rem;
        width: 100%;
    }
}