/* styling for components non root */
.card__container {
    display: flex;
    flex-direction: column;
    font-weight: var(--fw-regular);
    gap: 60px;
    color: var(--desaturated-dark-cyan);
    margin-top: 60px;
    margin-bottom: 2rem;
    align-items: center;
  }
  .main {
    background-color: var(--light-grayish-cyan-background);
    display: grid;
    
  }

  @media screen and (max-width:600px) {
    .card__container {
        gap: 80px;
    }

  }