/* styling for components non root */
.card__container {
    display: flex;
    flex-direction: column;
    font-weight: var(--fw-regular);
    max-width: 1050px;
    gap: 1rem;
    align-items: center;
    color: var(--desaturated-dark-cyan);
  }
  .main {
    background-color: var(--light-grayish-cyan-background);
  }